
.login {            /*centers the logo on the page*/
    background-color: purple;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__logo {         /*resize the logo*/
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
}